<script src="/js/animals.js"></script>
<div class="page-header">
    <h1>Our Animals</h1>
    <p>Take a look at these cute animals just waiting for you to take them home!</p>
</div>
{{#if loggedOut}}
<div class="alert alert-success alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <p>You have been logged out successfully.</p>
</div>
{{/if}}
<table class="table table-hover table-responsive">
    <thead>
        <tr>
            <th class="col-xs-2"></th>
            <th>Description</th>
            <th>Price</th>
            <th class="col-xs-2 col-sm-3">Add to Cart</th>
        </tr>
    </thead>
    <tbody>
        {{#each animals}}
        <tr>
            <td>
                <div class="img"><img class="img-thumbnail" src="/images/animals/{{image}}"></div>
            </td>
            <td>
                <p><strong>{{name}}</strong></p>
                <p id="animal-description-{{id}}">{{shortDescription}} <a onclick="getLongDescription({{id}});">Expand...</a></p>
            </td>
            <td>
                <strong>${{price}}</strong>
            </td>
            <td>
                <form class="form-inline" action="/addToCart" method="POST">
                    {{!--
                    <div class="col-md-6"> --}}
                        <div class="form-group">
                            <label for="amount-{{id}}" class="sr-only">Amount</label>
                            <input class="form-control" type="number" min="1" max="10" value="1" name="amount" id="amount-{{id}}">
                        </div>
                        {{!-- </div> --}} {{!--
                    <div class="col-md-6"> --}}
                        <button class="btn btn-primary" type="submit">+</button> {{!-- </div> --}}
                    <input type="hidden" name="animalId" value="{{id}}">{{!Hidden form controls can be used to submit values,
                    without user input.}}
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>